table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
  }
  th,td {
    padding: 5px;
  }
  #ciclo1{
    margin:auto;
  }
  #ciclo2{
    margin:auto;
  }
  #ciclo3{
    margin:auto;
  }
  #ciclo4{
    margin:auto;
  }